body {
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titolo {
    color: white;
    text-align: center;
    font-size: 4em;
}

.sottotitolo {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    margin: 0;
}

.get-started {
    background-color: white;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 12px;
}

.get-started:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.login{
    background-color: rgb(5, 152, 5);
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 12px;
	border: 0px;
}

.register{
    background-color: darkred;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 12px;
	border: 0px;
}

.cancel{
    background-color: darkslategray;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 12px;
}

.box-registrazione {
    background-color: white;
    width: 450px; 
    height: auto; 
    position: absolute;
	top: 20%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	padding: 25px 40px;
}

.box-registrazione tr {
    height: 40px; 
}

.box-registrazione input{
	width: 250px;
}

.box-registrazione h1{
    text-align: center;
}

.indice{
    text-align: left;
    padding-right: 50px;
}

