<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SiwBooks - Gestione Autori</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  
  
  <!-- Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

</head>

<body class="blog-page">

	<header id="header" class="header d-flex align-items-center fixed-top">
	    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

	      <a th:href="@{/}" class="logo d-flex align-items-center me-auto me-xl-0">

	        <h1 class="sitename">SiwBooks</h1><span>.</span>
	      </a>

	      <nav id="navmenu" class="navmenu">
	        <ul class="ms-5">
	          <li><a th:href="@{/}" class="active">Home</a></li>
			  <li><a th:href="@{/catalogoLibri}">Catalogo libri</a></li>
			  <li><a th:href="@{/catalogoAutori}" >Catalogo autori</a></li>

			  
			  <li sec:authorize="hasAuthority('CLIENT')">
	  	        <a th:href="@{/client/listaRecensioni}" class="nav-link">Le mie recensioni</a>
	  	      </li>
	          
	        </ul>
	        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
	      </nav>

	     
			<div  class="action-btn">
				<a sec:authorize="isAnonymous()" class="btn-getstarted me-4" th:href="@{/login}">Accedi</a>
				 <a sec:authorize="isAnonymous()" class="btn-getstarted me-4" th:href="@{/registrazione}">Registrati</a>
				 <a sec:authorize="hasAuthority('CLIENT') or hasAuthority('ADMIN')" class="btn-getstarted me-4" th:href="@{/logout}">Logout</a>
			</div>
			
			
	    </div>
	  </header>

  <main class="main">


	<section id="menuLibri" class="menuLibri section light-background" style="min-height: 100vh;">

	      <div class="container aos-init aos-animate" style="margin-top: 100px;" data-aos="fade-up" data-aos-delay="100">
	        <div sec:authorize="hasAuthority('ADMIN')" class="row align-items-xl-center gy-5  p-2" style="background-color: rgb(238, 238, 238); border-radius: 30px;">

	          <div class="col-xl-12 content mt-2">
	            <h3>Amministratore</h3>
	            <h2>Menù di gestione autori di SiwBooks</h2>
	            <p>Da questa schermata è possibile aggiungere, rimuovere e modificare gli autori nella piattaforma.</p>
	            <a th:href="@{/admin/aggiungiAutore}" class="read-more"><span>Aggiungi un nuovo autore</span><i class="bi bi-arrow-right"></i></a>
	          </div>
			</div>
	
		  
		  <!-- Lista autori-->
		  	        <div th:if="${autori.empty}" class="text-align-center mt-5 content" >
						<h2>Nessun autore nel database</h2>
					</div>
					<div th:if ="${not autori.empty}">
						<div th:each="autore : ${autori}" class="row align-items-xl-center gy-5 mt-5 p-2" style="border: lightgrey 1px solid ; border-radius: 30px;">
							
							
			  	          <div class="col-xl-9 content mt-2">
			  	           	<div class="col">
								
								<a sec:authorize="hasAuthority('ADMIN')"	th:href="@{/admin/editAutore/{id}(id=${autore.id})}" class="read-more2 pt-1 pb-1 ps-2 pe-2"><span>Modifica dettagli</span> <i class="bi bi-pencil-square"></i></a>
								<a sec:authorize="hasAuthority('ADMIN')"	th:href="@{/admin/delete/{id}(id=${autore.id})}" class="read-more2 pt-1 pb-1 ps-2 pe-2"><span>Elimina autore</span> <i class="bi bi-trash-fill"></i></a>
							</div>
			  	            <h2 class="mt-3" th:text="${autore.nome} + ' ' + ${autore.cognome}"></h2>
							<p th:text="${#temporals.format(autore.dataDiNascita, 'dd/MM/yyyy') + (autore.dataDiMorte != null ? ' - ' + #temporals.format(autore.dataDiMorte, 'dd/MM/yyyy') : '')}"></p>
							<p class="me-3" >Nato in  <span th:text="${autore.nazionalita}"></span></p>
			  	            <a  class="read-more "><span>Vedi libri scritti</span><i class="bi bi-arrow-right"></i></a>
			  	          </div>
						  
						  
						  
		  	        	</div>
					</div>
					
					
					
					</div>
	    </section>

  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>