<!doctype html>
<html lang="en">
    <head>
        <title>SiwBooks - Registrazione</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="box-registrazione">
            <form th:action="@{/registrazione}" method="POST" novalidate>
                <h1>Registrati</h1>
                <table style="width:100%;">
					<!-- Messaggi di errore globali -->
		            <div th:if="${errorsGlobal != null}" class="mb-3">
		                <p th:each="err : ${errorsGlobal}" th:text="${err}" class="text-danger"></p>
		            </div>
                    <tr>
                        <td class="indice"><label>Username:</label>
                            <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="*{credentials.username}"
                                th:style="'color:red'">
                            </span>
                        </td>
                        <td><input type="text" th:field="${credentials.username}" required></td>
                    </tr>
                    <tr>
                        <td class="indice"><label>Nome:</label>
                            <span th:if="${#fields.hasErrors('utente.nome')}" th:errors="*{utente.nome}"
                                th:style="'color:red'">
                            </span>
                        </td>
                        <td><input type="text" th:field="${utente.nome}" required></td>
                    </tr>
                    <tr>
                        <td class="indice"><label>Cognome:</label>
                            <span th:if="${#fields.hasErrors('utente.cognome')}" th:errors="*{utente.cognome}"
                                th:style="'color:red'">
                            </span>
                        </td>
                        <td><input type="text" th:field="${utente.cognome}" required></td>
                    </tr>
                    <tr>
                        <td class="indice"><label>Email:</label>
                            <span th:if="${#fields.hasErrors('utente.email')}" th:errors="*{utente.email}"
                                th:style="'color:red'">
                            </span>
                        </td>
                        <td><input type="text" th:field="${utente.email}" required></td>
                    </tr>
                    <tr>
                        <td class="indice"><label>Data di nascita:</label>
                            <span th:if="${#fields.hasErrors('utente.dataDiNascita')}" th:errors="*{utente.dataDiNascita}"
                                th:style="'color:red'">
                            </span>
                        </td>
                        <td><input type="date" th:field="${utente.dataDiNascita}" required></td>
                    </tr>
                    <tr>
                        <td class="indice"><label>Passowrd:</label>
                            <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="*{credentials.password}"
                                th:style="'color:red'">
                            </span>
                        </td>
                        <td><input type="password" th:field="${credentials.password}" required></td>
                    </tr>
                    <tr>
                        <td class="indice"><label>Conferma Password:</label></td>
                        <td><input type="password" name="confermaPassword" required></td>
                    </tr>
                    <tr>
                        <td><button class="register" type="submit">Registrati</button></td>
                        <td><a class="cancel" href="/">Torna indietro</a></td>
                    </tr>
                </table>
            </form>
        </div>   
    </body>
</html>
