<!doctype html>
<html lang="en">
  <head>
    
    <title>SiwBooks - Home page</title>
    
    <link rel="stylesheet" href="/css/style.css" />
  </head>
<body>
    <div class="center">
        <h1 class="titolo">SiwBooks</h1>
        <p class="sottotitolo">Registrazione effettuata con successo</p>
        
        <div class="buttons">
			<a class="get-started" href="/utente/">Esplora i libri!</a>
            <a class="register" href="/logout">Logout</a>
        </div>
    </div>
    

</body>
</html>